<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bc.zongshuo.com"
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />

    <!-- Required -->
    <permission
        android:name="bc.zongshuo.com.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="bc.zongshuo.com.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 百度地图的服务 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 短信 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- huanxin -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.hyphenate.chatuidemo.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.hyphenate.chatuidemo.permission.MIPUSH_RECEIVE" />

    <application
        android:name=".ui.activity.IssueApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:allowBackup">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="7w64NP6qKjoY1pSDpEgoUfFgfdmiHGl6" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- <activity -->
        <!-- android:name=".ui.activity.TestDiyActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/NoTitleTheme"/> -->
        <activity
            android:name=".ui.activity.user.UserLogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.programme.camera.TestCameraActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.programme.camera.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.buy.SelectOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.InvitationPostACtivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.product.TimeBuyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.programme.ShareProgrammeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.InvitationCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.blance.WithDrawalDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.UserLogAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.buy.FilterTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.blance.ProfitRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.PerfectMydataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.EditValueActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.MyDistributorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.product.ShareProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.MyOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.ConsignmentOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.MerchantInfoActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.UpdatePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.SetInviteCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name="com.yanzhenjie.album.AlbumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="图库"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".ui.activity.user.UserAddrActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.UserAddrAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.product.PostedImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.RegiestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.LeadPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.Regiest01Activity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.UserDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.CollectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.product.ProDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.buy.ShoppingCartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.product.SelectGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- <activity -->
        <!-- android:name=".ui.activity.LeadPageActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/NoTitleTheme"/> -->
        <activity
            android:name=".ui.activity.product.ClassifyGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.programme.DiyActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.DetailPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.programme.SelectSceneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.buy.ConfirmOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.SimpleScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.buy.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.buy.SearchOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.programme.SelectSchemeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.MessageDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.ChartListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.blance.UserFinanceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.blance.ExtractMoneyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.blance.ExtractDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.blance.ExtractAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.buy.ExInventoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.user.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.activity.programme.ImageDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <!-- <activity -->
        <!-- android:name="cn.sharesdk.demo.wxapi.WXEntryActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar"/> -->


        <!-- 极光推送 -->


        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"></activity>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="bc.zongshuo.com" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.user.SimpleScannerLoginActivity"></activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>
        <service
            android:name=".service.UpdateApkService"
            android:enabled="true" />
        Required SDK 核心功能
        可配置android:process参数将PushService放在其他进程中
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- <service android:name="cn.jpush.android.service.PushService" -->
        <!-- android:process=":multiprocess" -->
        <!-- tools:node="replace" > -->


        <!-- </service> -->


        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="bc.zongshuo.com" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="bc.zongshuo.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".service.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="bc.zongshuo.com" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="e56ba5e82c5db48584191861" /> <!-- </>值来自开发者平台取得的AppKey -->
        <meta-data
            android:name="PGYER_APPID"
            android:value="072dccdbfbb93d1666c932f644315904"></meta-data>
        <!-- <provider -->
        <!-- android:authorities="bc.zongshuo.com.fileprovider" -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:grantUriPermissions="true" -->
        <!-- android:exported="false"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/filepaths"/> -->
        <!-- </provider> -->
        <receiver android:name="net.sourceforge.simcpux.AppRegister" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1106634885" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.activity.blance.SaleRecordActivity" />
        <activity android:name=".ui.activity.BussinessApplyActivity" />
        <activity
            android:name=".ui.activity.WebViewActivity"
            >

        </activity>
    </application>

</manifest>